<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://plugin.powerschool.pearson.com"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        description="Generates official PEI Student Transcripts - v1.0.1 fixes issue with signature role."
        name="PEI Transcript"
        version="1.0.1"
        xsi:schemaLocation="http://plugin.powerschool.pearson.com plugin.xsd">
<publisher name="Department of Education and Lifelong Learning - Luke Walker">
  <contact email="lawalker@edu.pe.ca"/>
</publisher>
</plugin>
