
    /* loader */
    #overlay {
      background: #ffffff;
      color: #666666;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: 5000;
      opacity: .80;
      display: flex;
      justify-content: center;
      align-items: center;
    }

/* HTML: <div class="loader"></div> */
    .loader {
      display: inline-grid;
      padding: 5px;
      background: #fff;
      filter: blur(4px) contrast(12);
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s ease-out, visibility 0.5s ease-out; 
    }
    .loader:before {
      content: "";
      height: 40px;
      aspect-ratio: 3;
      --c: #0000 64%,#000 66% 98%,#0000 101%;
      background:
        radial-gradient(35% 146% at 50% 159%,var(--c)) 0 0,
        radial-gradient(35% 146% at 50% -59%,var(--c)) 100% 100%;
      background-size: calc(200%/3) 50%;
      background-repeat: repeat-x;
      mask: repeating-linear-gradient(90deg,#000 0 10%,#0000 0 20%); 
      -webkit-mask: repeating-linear-gradient(90deg,#000 0 10%,#0000 0 20%);
      animation: l12 .8s infinite linear;
    }
    @keyframes l12{
      to {background-position: -200% 0,-100% 100%}
    }

   .loader-hidden, .overlay-hidden {
      opacity: 0;
      visibility: hidden;
   }